@mixin inputs {
    outline: none;
    background-color: var(--bg-color-2);
    border: var(--border);
    box-shadow: var(--shadow-inset);
    color: var(--text-color);
    border-radius: 6px;
    padding: 8px;
    font-size: 1em;
    font-size: clamp(0.9em, 1vw + 00.5em, 1em);
    font-family: "Space Mono", monospace;
}

#contact {
    position: relative;
    width: 100%;
    max-width: 1244px;
    margin-top: 20px;

    .contact-content {
        width: 100%;
        max-width: 1224px;
        padding: 20px 15px;
        color: var(--text-color);
        will-change: 'opacity';
        // background-color: rgb(173, 143, 103);

        h2 {
            align-self: flex-start;
            font-size: clamp(1rem, 0.9vw + 1rem, 1.4rem);
            font-weight: 900;

            span {
                color: #4ade80;
            }
        }

        p {
            font-size: clamp(0.9em, 1vw + 00.5em, 1em);
            color: var(--text-color);
            padding: 10px 0;
            // color: blue;
        }

        .contact-form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            padding: 20px;
            border-radius: 6px;
            margin-top: 15px;
            background-color: var(--bg-color-2);
            border: var(--border);
            box-shadow: var(--shadow);
            will-change: 'transform';

            label {
                font-weight: 600;
                color: var(--text-color);
                padding-bottom: 5px;

                span {
                    position: relative;
                    bottom: 4px;
                    font-size: 0.7em;
                    color: red;
                }
            }

            .name-email {
                display: flex;
                flex-direction: row;
                // background-color: blueviolet;
                gap: 15px;

                .name-container,
                .email-container {
                    display: flex;
                    flex-direction: column;
                    padding-bottom: 10px;
                    width: 100%;

                    input {
                        @include inputs;
                    }
                }
            }

            .msg-container {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 10px 0;
                padding-bottom: 0;

                textarea {
                    @include inputs;
                    height: 100px;

                    &::-webkit-scrollbar {
                        width: 0;
                        height: 0;
                    }
                }

                .charLength {
                    // margin-top: 10px;
                    padding: 10px 0;
                    text-align: right;
                }
            }

            .sub-btn {
                display: flex;
                align-self: flex-end;
                width: fit-content;
                align-items: center;
                gap: 6px;
                font-family: "Poppins", sans-serif;
                font-size: clamp(0.9em, 1vw + 00.5em, 1em);
                font-weight: 800;
                padding: 4px;
                padding-right: 12px;
                border-radius: 22px;
                border: var(--border);
                color: var(--text-color);
                background-color: var(--bg-color-2);
                cursor: pointer;

                .icon {
                    height: 32px;
                    width: 32px;
                    padding: 8px;
                    border-radius: 22px;
                    color: var(--text-color-2);
                    background-color: var(--green);
                    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                }

                &:hover {
                    .icon {
                        transform: rotate(45deg);
                    }
                }

            }

        }

        ul {
            display: flex;
            width: 100%;
            flex-wrap: wrap;

            li {
                list-style: none;
                padding: 4px 10px;
                background-color: transparent;

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    padding: 6px 12px;
                    border-radius: 6px;
                    text-decoration: none;
                    font-size: clamp(0.9em, 1vw + 00.5em, 1em);
                    background-color: var(--bg-color-2);
                    border: var(--outline);
                    color: var(--text-color);

                }

                &:hover {
                    .icon {
                        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                        transform: translateX(5px);
                    }
                }
            }


        }
    }
}


@media screen and (max-width: 1024px) {
    #contact {
        max-width: 680px;

        .contact-content {
            .contact-form {
                .name-email {
                    flex-wrap: wrap;
                }
            }
        }

    }

}