@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    @include flex-center;
    color: var(--text-color);
    // background-color: transparent;
    background-color: hsla(0, 0%, 0%, 0.5%);
    --webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    z-index: 500;
}

nav {
    width: 90%;
    max-width: 460px;
    height: 48px;
    margin-top: 30px;
    border: var(--border);
    border-radius: 6px;
    background-color: var(--secondary-color);
    // box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 8px;
    box-shadow: var(--shadow);

    ul {
        @include flex-center;
        height: 100%;
        gap: 10px;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: space-evenly;
    }

    li {
        @include flex-center;

        a {
            @include flex-center;
            position: relative;
            text-decoration: none;
            color: var(--text-color);
            padding: 11px;

            .icon {          
            // height: 24px;
            // width: 24px;
            // padding: 3px;
            font-size: 1.1rem;
            }
            .icon.active{
                 color: var(--green);
            }
           
        }

        &:hover {
            #tooltip {
                visibility: visible;
                opacity: 1;
                transform: translateY(0px);
            }
           
        }

        &:first-child {
            a {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 800;
                ;
                font-size: 1.125rem;
            }

            a span {
                color: #3730a3;
            }
            a span.active{
                color: var(--green);
            }

        }
        &:hover:not(:first-child) {
             border-radius: 6px;
            //  background-color: #111827;
            background-color: var(--primary-hover-color);
        }
    }


}