@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --bg-color-2: #7878781a;
  --text-color: #111827;
  --text-color-2: #ffffff;
  --text-color-3: #020617;
  --primary-color: #4b5563;
  --secondary-color: #f8fafc;
  --primary-hover-color: #e5e7eb;
  --secondary-hover-color: #e5e7eb;
  --border: 1px solid #9ca3af44;
  --outline: 1px solid #9ca3af44 inset;
  --shadow-inset: #0000000f 0px 2px 4px 0px inset;
  --shadow: #0000000d 0px 0px 0px 1px;
  --green: #238636;

}

.dark {
  --bg-color: #030712;
  --bg-color-2: #7878781a;
  --text-color: #ffffff;
  --text-color-2: #ffffff;
  --text-color-3: #020617;
  --primary-color: #3f3f46;
  --secondary-color: #020617;
  --primary-hover-color: #111827;
  --secondary-hover-color: #4b5563;
  // --border: 1px solid #9ca3af1a;
  --border: 1px solid #9ca3af35;
  --outline: 1px solid #9ca3af35;
  --shadow-inset: #0000000f 0px 2px 4px 0px inset;
  --shadow: #0000000d 0px 0px 0px 1px;
  --green: #238636;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Space Mono", monospace;
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;

  &::-webkit-scrollbar {
    width: 0;
  }
}

body.dark {
  background-color: var(--bg-color);
  color: var(--text-color);
}

#root {
  max-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}